App\Domain\Model\Product:
    type: entity
    table: products
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: IDENTITY
    fields:
        barcode:
            type: string
            column: barcode
            length: 128
            options:
                unique: true
        name:
            type: string
            column: name
            length: 255
        cost:
            type: money_type
            column: cost
            nullable: false
            options:
                unsigned: true
        vat:
            type: vat_type
            column: vat
            nullable: false
            options:
                unsigned: true
