App\Domain\Model\SelectedProduct:
    type: entity
    table: selected_products
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: IDENTITY
    fields:
        cost:
            type: money_type
            column: cost
            nullable: false
            options:
                unsigned: true
        amount:
            type: integer
            length: 10
            column: amount
            nullable: false
            options:
                unsigned: true
        createdAt:
            type: datetime
            column: created_at
            nullable: true
        updatedAt:
            type: datetime
            column: updated_at
            nullable: true
            
    manyToOne:
        receipt:
            targetEntity: App\Domain\Model\Receipt
            inversedBy: selectedProducts
            joinColumn:
                name: receipt_id
                referencedColumnName: id
                nullable: false
        product:
            targetEntity: App\Domain\Model\Product
            joinColumn:
                name: product_id
                referencedColumnName: id
                nullable: false

    lifecycleCallbacks:
        prePersist: [updateUpdatedAtNow]